/ Header and Nav
%nav.top-bar
  %ul
    / Title Area
    %li.name
      %h1
        %a{:href => "#"}
          Top Bar Title
    %li.toggle-topbar
      %a{:href => "#"}
  %section
    / Left Nav Section
    %ul.left
      %li.divider
      %li.has-dropdown
        %a.active{:href => "#"} Main Item 1
        %ul.dropdown
          %li
            %label Section Name
          %li
            %a{:href => "#"} Dropdown Level 1
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li.divider
          %li
            %label Section Name
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li.divider
          %li
            %a{:href => "#"} See all &rarr;
      %li.divider
      %li
        %a{:href => "#"} Main Item 2
      %li.divider
      %li.has-dropdown
        %a{:href => "#"} Main Item 3
        %ul.dropdown
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li.divider
          %li
            %a{:href => "#"} See all &rarr;
      %li.divider
    / Right Nav Section
    %ul.right
      %li.divider
      %li.has-dropdown
        %a{:href => "#"} Main Item 4
        %ul.dropdown
          %li
            %label Section Name
          %li.has-dropdown
            %a{:href => "#"} Has Dropdown, Level 1
            %ul.dropdown
              %li
                %a{:href => "#"} Dropdown Options
              %li
                %a{:href => "#"} Dropdown Options
              %li.has-dropdown
                %a{:href => "#"} Has Dropdown, Level 2
                %ul.dropdown.test
                  %li
                    %a{:href => "#"} Subdropdown Option
                  %li
                    %a{:href => "#"} Subdropdown Option
                  %li
                    %a{:href => "#"} Subdropdown Option
              %li
                %a{:href => "#"} Subdropdown Option
              %li
                %a{:href => "#"} Subdropdown Option
              %li
                %a{:href => "#"} Subdropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li.divider
          %li
            %label Section Name
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li.divider
          %li
            %a{:href => "#"} See all &rarr;
      %li.divider
      %li
        %a{:href => "#"} Main Item 5
      %li.divider
      %li.has-dropdown
        %a{:href => "#"} Main Item 6
        %ul.dropdown
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li.divider
          %li
            %a{:href => "#"} See all &rarr;
/ End Header and Nav