/ Header and Nav
.row
  .three.columns
    %h1
      %img{:src => "http://placehold.it/400x100&text=Logo"}/
  .nine.columns
    %ul.nav-bar.right
      %li
        %a{:href => "#"} Link 1
      %li
        %a{:href => "#"} Link 2
      %li
        %a{:href => "#"} Link 3
      %li
        %a{:href => "#"} Link 4
/ End Header and Nav
