---
title: Grid Page
---
/ Main Grid Section
.row
  .three.columns
    .panel
      %h5 Panel Title
      %p This is a three columns grid panel with an arbitrary height.
  .six.columns
    .panel
      %h5 Panel Title
      %p This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.
  .three.columns
    .panel
      %h5 Panel Title
      %p This is a three columns grid panel with an arbitrary height.
.row
  .six.columns
    .panel
      %h5 Panel Title
      %p This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.
  .two.columns
    .panel
      %p
        %img{:src => "http://placehold.it/200x200"}/
  .four.columns
    .panel
      %h5 Panel Title
      %p This is a four columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami.
.row
  .four.columns
    .panel
      %p
        %img{:src => "http://placehold.it/400x300"}/
  .four.columns
    .panel
      %p
        %img{:src => "http://placehold.it/400x300"}/
  .four.columns
    .panel
      %p
        %img{:src => "http://placehold.it/400x300"}/
.row
  .six.columns
    .panel
      %h5 Panel Title
      %p This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.
  .three.columns
    .panel
      %h5 Panel Title
      %p This is a three columns grid panel with an arbitrary height.
  .three.columns
    .panel
      %h5 Panel Title
      %p This is a three columns grid panel with an arbitrary height.
/ End Grid Section
