---
title: Home
---
.row
  .twelve.columns
    %h1 Links
    %ul
      %li
        %a{href: '/banded.html'} Banded Page
      %li
        %a{href: '/blog.html'} Blog Page
      %li
        %a{href: '/feed.html'} Feed Page
      %li
        %a{href: '/grid.html'} Grid Page
      %li
        %a{href: '/orbithome.html'} Orbit Home Page
      %li
        %a{href: '/bannerhome.html'} Banner Home Page
      %li
        %a{href: '/sidebar.html'} Sidebar Page
      %li
        %a{href: '/contact.html'} Contact Page
      %li
        %a{href: '/marketing.html'} Marketing Page
      %li
        %a{href: '/realty.html'} Realty Page
      %li
        %a{href: '/so-boxy.html'} So Boxy Page
      %li
        %a{href: '/store.html'} Store Page
      %li
        %a{href: '/workspace.html'} Workspace Page
